.hidden {
	display : none
}

#myButton {
	margin-bottom: 10px;
}

.checkbox-lg {
	top: .8rem;
	width: 1.55rem;
	height: 1.55rem;
	padding-top: 13px;
	padding-left: 6px;
}

.btn-label {
	margin-right: 10px;
	text-align: left;
	font-size: 22px;
}

body {
	min-height: 8000px;
}

.externalLabel {
	width: 120px;
}

.additionalInfoLabel {
	width: 300px;
}

.infoTxtLabel {
	height: 120px !important; 
}

.additionalNotes {
	height: 350px !important;
}

#hidden_track1txt, #hidden_track2txt, #hidden_track3txt, #hiddenEmv
{
	display : none
}
