{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class="container">
    <div class="py-5 text-center">
        <h2>Application Profile Definition</h2>
    </div>
</div>

<div class="container body2">
    <form novalidate>
        <div class="row g-3">
            <h4 class="mb-3">CARD VALIDATION</h4>
            <h6 class="mb-3">Please put a tick to the card test that you want to perform for the profile :</h6>
            <h6 class="mb-3 ms-2">Pre-Perso :</h6>
            <div class="form-check g-2 ms-4">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="pcomFull">Full Verification script content(destructive script)</label>
            </div>
            <div class="form-check g-2 mb-3 ms-4">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="pcomLight">Light Verification script content(non-destructive script)</label>
            </div>
            <h6 class="mb-3 ms-2">Perso :</h6>
            <div class="form-check form-check-inline ms-4 col-sm-2">
                <input class="form-check-input" type="checkbox" value="UL">
                <label class="form-check-label" for="inlineCheckbox1">UL (Collis)</label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
                <input class="form-check-input" type="checkbox" value="EVA">
                <label class="form-check-label">EVA</label>
            </div>
            <div class="form-check form-check-inline ms-4 mb-3">
                <input class="form-check-input" type="checkbox" value="BARNES">
                <label class="form-check-label">BARNES</label>
            </div>
            <h6 class="mb-3 ms-2">Additional Check :</h6>
            <div class="form-check form-check-inline ms-4 col-sm-5">
                <input class="form-check-input" type="checkbox" value="ALCD">
                <label class="form-check-label" for="inlineCheckbox1">Application Lifecycle Data (for MCHIP)</label>
            </div>
            <div class="form-check form-check-inline col-sm-6">
                <input class="form-check-input" type="checkbox" value="PSNCheck">
                <label class="form-check-label">PAN Sequence Number Check</label>
            </div>
            <div class="form-check form-check-inline ms-4 col-sm-5">
                <input class="form-check-input" type="checkbox" value="cvvCheck">
                <label class="form-check-label" for="inlineCheckbox1">CVV/CVC/PVV Check</label>
            </div>
            <div class="form-check form-check-inline col-sm-6">
                <input class="form-check-input" type="checkbox" value="tdCheck">
                <label class="form-check-label">Track Data Check</label>
            </div>
            <div class="form-check form-check-inline ms-4 col-sm-5">
                <input class="form-check-input" type="checkbox" value="persoComparison">
                <label class="form-check-label" for="inlineCheckbox1">Perso Log Comparison (for Migration and Change Request)</label>
            </div>
            <div class="form-check form-check-inline col-sm-6">
                <input class="form-check-input" type="checkbox" value="techReport">
                <label class="form-check-label">Generate Technical Report</label>
            </div>
            <div class="form-check form-check-inline ms-4 mb-1">
                <input class="form-check-input" type="checkbox" value="Others">
                <label class="form-check-label">Others, please specify :</label>
            </div>
            <div class="form-floating ms-4 col-sm-7">
                <textarea class="form-control" placeholder="Leave a comment here"></textarea>
                <label class="ms-2"></label>
            </div>
            <h6 class="mb-3 ms-2">Additional Notes :</h6> 
            <div class="form-floating ms-4">
                <textarea class="form-control additionalNotes mb-4" placeholder="Leave a comment here"></textarea>
                <label class="ms-2"></label>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-primary col-sm-4" type="submit" value="submit"></input>
        </div>
    </form>


</div>















{% endblock %}