{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Application Profile Definition</h2>
    </div>
</div>

<div class="container">
    <form novalidate>
        <h4 class="mb-3">Card Profile Config</h4>
        <div class="row g-3">
            <div class="col-sm-12">
                <label for="myApplicationsLabel" class="form-label">List of Applications to support</label>
                <table class="table table-striped table-bordered table-hover" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col">Application</th>
                            <th scope ="col">Applet</th>
                        </tr>
                    </thead>
                    <tbody id="myBody">
                        <tr>
                            <td><input id="app" type="text" class="form-control"></td>
                            <td><input id="applet" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="app" type="text" class="form-control"></td>
                            <td><input id="applet" type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="g-2 padding-xs" id="myButton">
                    <button type="button" class="btn btn-success btn-sm" onclick="addRow()">Add row</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="addRow()" id="deleteBtn">Delete row</button>
                </div>
            </div>
        </div>
            <div class="form-check form-check-inline g-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="PSE">PSE Supported</label>
            </div>
            <div class="form-check form-check-inline g-3">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="PPSE">PPSE Supported</label>
            </div>
            <div class="form-check form-check-inline g-3">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="ndef">NDEF Supported</label>
            </div>
        <hr class="my-4">
        <h4 class="mb-3">CHIP PRODUCT</h4>
        <div class="row g-3">
            <div class = "col-sm-6">
                <label for="productNames" class="form-label">Product Name</label>
                <input id="productName" type="text" class="form-control" list="productNames" name="productName" required>
                <datalist id="productNames">
                    {% for product in productNames %}
                        <option>{{ product }}</option>
                    {% endfor %}
                </datalist>
                <div class="invalid-feedback">
                    Valid Author Name is required.
                </div>
            </div>
            <div class = "col-sm-6">
                <label for="maskRef" class="form-label">Mask Reference</label>
                <input id="maskRef" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div>
            </div>
    </form>
</div>

{% endblock %}