{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Application Profile Definition</h2>
    </div>
</div>

<div class="container">
    <form novalidate>
        <h4 class="mb-3">Card Profile Config</h4>
        <div class="row g-3">
            <div class="col-sm-12">
                <label for="myApplicationsLabel" class="form-label">List of Applications to support</label>
                <table class="table table-striped table-bordered table-hover" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col">Application</th>
                            <th scope ="col">Applet</th>
                        </tr>
                    </thead>
                    <tbody id="myBody">
                        <tr>
                            <td><input id="app" type="text" class="form-control"></td>
                            <td><input id="applet" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="app" type="text" class="form-control"></td>
                            <td><input id="applet" type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="g-2 padding-xs" id="myButton">
                    <button type="button" class="btn btn-success btn-sm" onclick="addRow()">Add row</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="addRow()" id="deleteBtn">Delete row</button>
                </div>
            </div>
        </div>
            <div class="form-check form-check-inline g-3">
                <input type="checkbox" class="form-check-input checkbox-lg btn-label">
                <label class="form-check-label btn-label" for="PSE">PSE Supported</label>
            </div>
            <div class="form-check form-check-inline g-3">
                    <input type="checkbox" class="form-check-input checkbox-lg btn-label">
                    <label class="form-check-label btn-label" for="PPSE">PPSE Supported</label>
            </div>
            <div class="form-check form-check-inline g-3">
                    <input type="checkbox" class="form-check-input checkbox-lg btn-label">
                    <label class="form-check-label btn-label" for="ndef">NDEF Supported</label>
            </div>
        <hr class="my-4">
        <h4 class="mb-3">CHIP PRODUCT</h4>
        <div class="row g-3">
            <div class = "col-sm-6">
                <label for="productNames" class="form-label">Product Name</label>
                <input id="productName" type="text" class="form-control" list="productNames" name="productName" required>
                <datalist id="productNames">
                    {% for product in productNames %}
                        <option>{{ product }}</option>
                    {% endfor %}
                </datalist>
                <div class="invalid-feedback">
                    Valid Author Name is required.
                </div>
            </div>
            <div class = "col-sm-6">
                <label for="maskRef" class="form-label">Mask Reference</label>
                <input id="maskRef" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div>
            </div>
            <div class = "col-sm-6">
                <label for="atrConfig" class="form-label">ATR Configuration</label>
                <input id="atrConfig" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div>
            </div>
            <div class = "col-sm-6">
                <label for="LOAno" class="form-label">LOA no.</label>
                <input id="LOAno" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div>
            </div>
            <div class = "col-sm-6">
                <label for="ALCD" class="form-label">ALCD (for MASTERCARD only)</label>
                <input id="ALCD" type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="downsizing" class="form-label">Downsizing (for COSMO)</label>
                <select id="downsizings" type="text" class="form-control" placeholder="Choose.." required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="12K">12K</option>
                        <option value="16K">16K</option>
                        <option value="24K">24K</option>
                        <option value="32K">32K</option>
                        <option value="64K">64K</option>
                        <option value="NoDS">No Downsizing</option>
                </select>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">PrePerso & Perso Configuration</h4>
            <div>
                <label for="referenceCard" class="form-label">Reference for Card Configuration</label>
                <input id="referenceCard" type="text" class="form-control">
            </div>
            <div>
                <label for="cardAID" class="form-label">Card AID</label>
                <input id="cardAID" type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="protocol" class="form-label">Protocol</label>
                <input id="protocol" type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="secureChannel" class="form-label">Secure Channel</label>
                <input id="secureChannel" type="text" class="form-control">
            </div>
            <div class="col-sm-8">
                <label for="additionalNotes" class="form-label">Additional Notes/Requests</label>
                <input id="additionalNotes" type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="keysetver" class="form-label">Key Set Version</label>
                <input id="keysetver" ty gpe="text" class="form-control">
            </div>
            <div class="form-check form-check-inline g-3">
                <input type="checkbox" class="form-check-input checkbox-lg btn-label">
                <label class="form-check-label btn-label" for="tagCF">Use Tag CF</label>
            </div>
            <div class="col-sm-12">
                <label for="persoLocation" class="form-label">PrePerso and Perso Locations</label>
                <select id="persoLocation" type="text" class="form-control" placeholder="Choose.." required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="ixi">Internal Preperso – Internal Perso</option>
                        <option value="ixe">Internal Preperso – External Perso</option>
                        <option value="exi">External Preperso – Internal Perso </option>
                        <option value="exe">External Preperso – External Perso</option>
                </select>
            </div>
            <h5>Card Manager Status</h5>
            <div class="col-sm-6">
                <label for="prepersoStatus" class="form-label">Pre-Personalization Status</label>
                <select id="prepersoStatus" type="text" class="form-control" placeholder="Choose.." required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="opRead">OP Read</option>
                        <option value="init">Initialized</option>
                        <option value="secured">Secured</option>
                        <option value="cardLocked">Card Locked</option>
                        <option value="terminated">Terminated</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="prepersoStatus" class="form-label">Personalization Status</label>
                <select id="prepersoStatus" type="text" class="form-control" placeholder="Choose.." required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="opRead">OP Read</option>
                        <option value="init">Initialized</option>
                        <option value="secured">Secured</option>
                        <option value="cardLocked">Card Locked</option>
                        <option value="terminated">Terminated</option>
                </select>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">CARD AUTHENTICATION</h4>
            <div class="col-sm-12">
                <label for="Target Server" class="form-label">Pre-Perso</label>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col">KMC Label</th>
                            <th scope ="col">Value</th>
                            <th scope ="col">KCV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="cps-version" type="text" class="form-control"></td>
                            <td><input id="service-pack" type="text" class="form-control"></td>
                            <td><input id="service-pack" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="cps-version" type="text" class="form-control"></td>
                            <td><input id="service-pack" type="text" class="form-control"></td>
                            <td><input id="service-pack" type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </form>
</div>
{% endblock %}