{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Application Profile Definition</h2>
    </div>
</div>

<div class="container">
    <form action="#" method = "post">
        <h4 class="mb-3">PROJECT</h4>
        <div class="row g-3">
            <div>
                <label for="projectName" class="form-label required" name="projName">Project Name</label>
                <input id="projectName" type="text" class="form-control" name="projName" required>
                <div class="invalid-feedback">
                    Please provide a project name.
                </div> 
            </div>
            <div class = "col-sm-8">
                <label for="author" class="form-label">Author</label>
                <select id="authorList" class="form-control" placeholder="Choose.." name="author_select" required>
                    <option value="" disabled selected>Choose..</option>
                    {% for author in author_list %}
                        <option>{{ author }}</option>
                    {% endfor %}
                </select>
                <div class="valid-feedback">
                    Looks good to me!
                </div> 
            </div>
            <div class = "col-sm-2">
                <label for="version" class="form-label">Version</label>
                <input id="version" type="number" class="form-control" placeholder="1" name="version_select" min="1" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div>
            </div>
            <div class = "col-sm-2">
                <label for="projectNum" class="form-label">Project Number</label>
                <input id="projectNum" type="number" class="form-control" placeholder="1234" name="projectNum" required>
                <div class="invalid-feedback">
                    Valid version number is required.
                </div> 
            </div>
            <hr class="my-4">
            <h4 class="mb-1">PROFILE</h4>
            <div class="col-sm-6">
                <label for="product" class="form-label">Product Type</label>
                <select id="product" type="text" class="form-control" placeholder="Choose.." name="product_select" required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="dual">Dual</option>
                        <option value="contact">Contact</option>
                        <option value="contactless">Contactless</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="perso_type" class="form-label">Perso Type</label>
                <select id="perso_type" type="text" class="form-control" placeholder="Choose.." name="perso_select" required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="Perso">Perso</option>
                        <option value="Pre-Perso">Pre-Perso</option>
                </select>
            </div>
            <div class="col-sm-12">
                <label for="Target Server" class="form-label">Target CPS Server</label>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col">CPS Version</th>
                            <th scope ="col">Service Pack</th>
                            <th scope ="col">Office Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="cps-version" type="text" class="form-control" name="cps_version"></td>
                            <td><input id="service-pack" type="text" class="form-control" name="service_pack"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example" name="cps_server">
                                    <option value="" disabled selected>Choose..</option>
                                    {% for server in server_list %}
                                        <option value={{server}} > {{ server }} </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="cps-version" type="text" class="form-control" name="cps_version1"></td>
                            <td><input id="service-pack" type="text" class="form-control" name="service_pack1"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example" name="cps_server1">
                                    <option value="" disabled selected>Choose..</option>
                                    {% for server in server_list %}
                                        <option> {{ server }} </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="cps-version" type="text" class="form-control"></td>
                            <td><input id="service-pack" type="text" class="form-control"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="" disabled selected>Choose..</option>
                                    {% for server in server_list %}
                                        <option> {{ server }} </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="mb-3">Profile Naming Convention</h4>
            <div class="row">
                <div>
                    <label for="cpName" class="form-label">Card Profile</label>
                    <input id="cpName" type="text" class="form-control">
                </div>
                <div>
                    <label for="ppName" class="form-label">Production Profile</label>
                    <input id="ppName" type="text" class="form-control">
                </div>
                <div class="col-sm-6">
                    <label for="customerName" class="form-label">Customer Name</label>
                    <input id="customerName" type="text" class="form-control">
                </div>
                <div class="col-sm-6">
                    <label for="axCode" class="form-label">AX Code Reference</label>
                    <input id="axCode" type="text" class="form-control">
                </div>
                <hr class="my-4">
                <h4 class="mb-3">INPUT FILE</h4>
                <div class="row g-2">
                    <div>
                        <label for="cpName" class="form-label">Input File</label>
                        <input id="cpName" type="text" class="form-control">
                    </div>
                    <div class="form-check g-3">
                        <input type="checkbox" class="form-check-input" id="chk" onclick="showHide()">
                        <label class="form-check-label mb-3" for="inputFile">Have Complementary Test File?</label>
                        <br/>
                        <label for="comp1" type="text" name="comp1" class="hidden">Complementary Test File (1)</label>
                        <input id="comp1" type="text" class="form-control hidden">
                        <label for="comp2" type="text" name="comp2" class="hidden">Complementary Test File (2)</label>
                        <input id="comp2" type="text" class="form-control hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-primary col-sm-4" type="submit" value="submit"></input>
        </div>
    </form>
</div>

{% endblock %}