{% extends "layout.html" %}

{% block title %}
    Production Profile Perso Config
{% endblock %}

{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Application Profile Definition</h2>
    </div>
</div>

<div class="container">
    <form action="#" method = "post" novalidate>
        <h4>Customer Details</h4>
        <div class="row g-3">
            <div class="col-md-12">
                <label for="customerOffer" class="form-label">Customer Offer</label>
                <input id="customerOffer" type="text" class="form-control">
            </div>
            <div class="col-md-12">
                <label for="grammar" class="form-label">Grammar</label>
                <input id="grammar" type="text" class="form-control">
            </div>
            <div class="col-md-12">
                <label for="itemPerso" class="form-label">Item to Personalize</label>
                <input id="itemPerso" type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="customerProduct" class="form-label">Customer Product</label>
                <input id="customerProduct" type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="axCode" class="form-label">AX Code Reference</label>
                <input id="axCode" type="text" class="form-control">
            </div>

            <hr class="my-4">
            <h4 class="mb-1">Production Profile Setup</h4>

            <div class="col-md-12">
                <label for="persoAction" class="form-label">Steps to run that will define in Perso Actions</label>
                <select id="persoAction" type="text" class="form-control" placeholder="Choose.." required>
                        <option value="" disabled selected>Choose..</option>
                        <option value="Perso">Perso</option>
                        <option value="prePerso">Pre-Perso</option>
                        <option value="loadOSPrp">Load OS then Pre-Perso</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="referenceExt" class="form-label">Reference Profile for External Processing</label>
                <input id="referenceExt" type="text" class="form-control">
            </div>
            <div class="col-md-12">
                <label for="referenceIC" class="form-label">Reference Profile for IC Perso</label>
                <input id="referenceIC" type="text" class="form-control">
            </div>
            <div class="col-md-12">
                <label for="ruleName" class="form-label">Naming Convention for Rule Names</label>
                <input id="ruleName" type="text" class="form-control">
            </div>

            <hr class="my-4">
            <h4 class="mb-1">Magstripe Setup</h4>
            <h6>Detail the construction of all 3 tracks</h6>
            
                <div class="input-group mb-2">
                    <div class="input-group-text">
                      <label>Track1</label>
                      <input id="track1_check" class="form-check-input ms-2"  type="checkbox" value="" onClick="toggleSelect()">
                    </div>
                    <select id="track1_select" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_track1txt', this)" disabled>
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
            <div class="form-floating" id="hidden_track1txt">
                <textarea class="form-control " placeholder="Track 1" id="track1txt"></textarea>
                <label class="form-label" for="track1txt">  Track 1 </label>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <label>Track2</label>
                    <input id="track2_check" class="form-check-input ms-2" type="checkbox" value="" onClick="toggleSelect1()">
                </div>
                <select id="track2_select" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_track2txt', this)" disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="1">Defined by Rule</option>
                    <option value="defbyInput2">Defined within Input File</option>
                    <option value="sameAsRef2">Same as Reference Profile</option>
                </select>
            </div>
            <div class="form-floating" id="hidden_track2txt">
                <textarea class="form-control" placeholder="Track 2" id="track1txt"></textarea>
                <label class="form-label" for="track1txt">  Track 2 </label>
            </div>
            <div class="input-group mb-3">  
                <div class="input-group-text">
                    <label>Track3</label>
                    <input id="track3_check" class="form-check-input ms-2" type="checkbox" value=""  onClick="toggleSelect2()">
                </div>
                <select id="track3_select" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_track3txt', this)" disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="1">Defined by Rule</option>
                    <option value="defbyInput3">Defined within Input File</option>
                    <option value="sameAsRef3">Same as Reference Profile</option>
                </select>
            </div>
            <div class="form-floating" id="hidden_track3txt">
                <textarea class="form-control" placeholder="Track 3"></textarea>
                <label class="form-label" for="track3txt">  Track 3 </label>
            </div>
            

            <hr class="my-4">
            <h4 class="mb-1">External Processing</h4>
            <h6 class="mb-1">Key Management</h6>

            <div class="form-check ms-1">
                <div class="col-sm-12">
                    <input type="radio" class="form-check-input" name="keysRadio">
                    <label class="form-check-label" for="keysRegion">Keys provided by Region (will be stored on Local DP-HSM)</label>
                </div>
                <div class="col-sm-12">
                        <input type="radio" class="form-check-input " name="keysRadio">
                        <label class="form-check-label" for="keysStored">Keys are already stored in Regional DPHSM. Please indicate machine name.</label>
                </div>
                <div class="mb-3">
                    <label for="keytxt" class="form-label"> </label>
                    <input id="keytxt" type="text" class="form-control">
                </div> 
            </div>
            <h6 class="mb-3">Requirements  :</h6>
            <div class="input-group mb-2">
                <div class="input-group-text">
                  <label class="externalLabel">EMV 3DES Keys   </label>
                  <input id="deskeys_check" class="form-check-input ms-2" type="checkbox" value="" aria-label="Checkbox for following text input" onClick="toggleSelect3()">
                </div>
                <select id="deskeys_select" type="text" class="form-control" placeholder="Choose.." required disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="defbyRule">Computed by DPHSM</option>
                    <option value="defbyInput">From Input File</option>
                </select>
            </div>
            <div id="hiddenEmv" class="col-sm-12">
                <table id="desTable" class="table table-striped table-bordered table-hover" >
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col"class="col-sm-3">Label</th>
                            <th scope ="col"class="col-sm-4">Value</th>
                            <th scope ="col" class="col-sm-2">KCV</th>
                            <th scope ="col" class="col-sm-3">Application Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="keylabel" type="text" class="form-control"></td>
                            <td><input id="keyval" type="text" class="form-control"></td>
                            <td><input id="kcv" type="text" class="form-control"></td>
                            <td><input id="appName" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="keylabel" type="text" class="form-control"></td>
                            <td><input id="keyval" type="text" class="form-control"></td>
                            <td><input id="kcv" type="text" class="form-control"></td>
                            <td><input id="appName" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="keylabel" type="text" class="form-control"></td>
                            <td><input id="keyval" type="text" class="form-control"></td>
                            <td><input id="kcv" type="text" class="form-control"></td>
                            <td><input id="appName" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><input id="keylabel" type="text" class="form-control"></td>
                            <td><input id="keyval" type="text" class="form-control"></td>
                            <td><input id="kcv" type="text" class="form-control"></td>
                            <td><input id="appName" type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="g-2 padding-xs" id="myButton">
                    <button type="button" class="btn btn-success btn-sm" onclick="addRow1('desTable')">Add row</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('desTable')" id="deleteBtn">Delete row</button>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text mb-3">
                  <label class="externalLabel">ICC RSA Keys</label>
                  <input id="rsa_check" class="form-check-input ms-2" type="checkbox" value="" aria-label="Checkbox for following text input" onclick="toggleSelect4('hiddenRSA', 'rsa_check', 'rsa_select', 'hiddenRSA')">
                </div>
                <select id="rsa_select" type="text" class="form-control mb-3" placeholder="Choose.." required disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="defbyRule">Computed by DPHSM</option>
                    <option value="defbyInput">From Input File</option>
                </select>
            </div>
            <div id="hiddenRSA">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="ipkLength" class="form-label">IPK Length</label>
                        <input id="ipkLength" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="iccLength" class="form-label">ICC Length</label>
                        <input id="iccLength" type="text" class="form-control">
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="form-check form-check-inline col-md-6">
                            <input class="form-check-input" type="radio" id="ipkFitec" value="ipkFitec" name="extRadio">
                            <label class="form-check-label" for="ipkFitec">IPK generated by FITEC</label>
                        </div>
                        <div class="form-check form-check-inline col-md-6">
                            <input class="form-check-input" type="radio" id="ipkRegion" value="ipkRegion" name="extRadio">
                            <label class="form-check-label" for="ipkRegion">IPK provided by the Customer/Region</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table id="rsaTable" class="table table-striped table-bordered table-hover text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope ="col"class="col-sm-3">Label</th>
                                    <th scope ="col"class="col-sm-4">Expiry Date</th>
                                    <th scope ="col" class="col-sm-3">Application Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input id="ipkLabel" type="text" class="form-control"></td>
                                    <td><input id="expiryDate" type="text" class="form-control"></td>
                                    <td><input id="ipkAppName" type="text" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="g-2 padding-xs mb-3" id="myButton">
                            <button type="button" class="btn btn-success btn-sm" onclick="addRow1('rsaTable')">Add row</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('rsaTable')" id="deleteBtn">Delete row</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text mb-3">
                  <label class="externalLabel">Certificates</label>
                  <input id="cert_check" class="form-check-input ms-2 mb-3" type="checkbox" value="" aria-label="Checkbox for following text input" onclick="toggleSelect4('', 'cert_check', 'cert_select', '')">
                </div>
                <select id="cert_select" type="text" class="form-control mb-3" placeholder="Choose.." required disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="defbyRule">Computed by DPHSM</option>
                    <option value="defbyInput">From Input File</option>
                </select>
            </div>
            <div class="input-group mb-2"> 
                <div class="input-group-text mb-3">
                  <label class="externalLabel">CVC3/dCVV/iCV</label>
                  <input id="cvc3_check" class="form-check-input ms-2" type="checkbox" value="" onclick="toggleSelect4('hidden_cvc3', 'cvc3_check', 'cvc3_select', 'hidden_cvc3')">
                </div>
                <select id="cvc3_select" type="text" class="form-control mb-3" placeholder="Choose.." required disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="defbyRule">Computed by DPHSM</option>
                    <option value="defbyInput">From Input File</option>
                </select>
                <br>
                <div id="hidden_cvc3">
                    <div class="row">
                        <div class="input-group">
                            <table id="cvcTable" class="table table-striped table-bordered table-hover text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope ="col"class="col-sm-4">Label</th>
                                        <th scope ="col"class="col-sm-4">Value</th>
                                        <th scope ="col" class="col-sm-4">KCV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input id="cvkLabel" type="text" class="form-control"></td>
                                        <td><input id="cvkVal" type="text" class="form-control"></td>
                                        <td><input id="cvkKCV" type="text" class="form-control"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="g-2 padding-xs mb-4" id="myButton">
                                <button type="button" class="btn btn-success btn-sm" onclick="addRow1('cvcTable')">Add row</button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('cvcTable')" id="deleteBtn">Delete row</button>
                            </div>
                            <div class="input-group row cvvExp">
                                <div class="input-group mb-3 col cvvExp">
                                    <label class="input-group-text" for="inputGroupCVV">CVV Expiration Date Format</label>
                                    <select class="form-select" id="inputGroupCVV">
                                    <option disabled selected>Choose...</option>
                                    <option value="YYMM">YYMM</option>
                                    <option value="MMYY">MMYY</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3 col icvvEXP">
                                    <label class="input-group-text" for="inputGroupiCVV">iCVV Expiration Date Format</label>
                                    <select class="form-select" id="inputGroupiCVV">
                                    <option disabled selected>Choose...</option>
                                    <option value="YYMM">YYMM</option>
                                    <option value="MMYY">MMYY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            <div class="input-group mb-2">
                <div class="input-group-text">
                  <label class="externalLabel">PIN</label>
                  <input id="pin_check" class="form-check-input ms-2" type="checkbox" value="" aria-label="Checkbox for following text input" onclick="toggleSelect4('hidden_PIN', 'pin_check', 'pin_select', 'hidden_PIN')">
                </div>
                <select id="pin_select" type="text" class="form-control" placeholder="Choose.." required disabled>
                    <option value="" disabled selected>Choose..</option>
                    <option value="defbyRule">Computed by DPHSM</option>
                    <option value="defbyInput">From Input File</option>
                </select>
            </div>
            <div id="hidden_PIN">
                <div class="row">
                    <div class="mb-3 col">
                        <label for="inputGroupPIN" class="form-label">Input PIN Block Format</label>
                        <select class="form-select" id="pin_select">
                          <option disabled selected>Choose...</option>
                          <option value="iso0">ISO0</option>
                          <option value="iso1">ISO1</option>
                          <option value="iso2">ISO2</option>
                          <option value="iso3">ISO3</option>
                          <option value="iso4">ISO4</option>
                          <option value="offset">OFFSET</option>
                          <option value="otherPIN">OTHER</option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label for="OutputGroupPIN" class="form-label">Output PIN Block Format</label>
                        <select class="form-select" id="pin_select">
                          <option disabled selected>Choose...</option>
                          <option value="iso0">ISO0</option>
                          <option value="iso1">ISO1</option>
                          <option value="iso2">ISO2</option>
                          <option value="iso3">ISO3</option>
                          <option value="iso4">ISO4</option>
                          <option value="offset">OFFSET</option>
                          <option value="otherPIN">OTHER</option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="encryptionType">Detail Encryption Type</label>
                        <select class="form-select" id="pin_select">
                          <option disabled selected>Choose...</option>
                          <option value="Clear">Clear</option>
                          <option value="Under 3DES ZPK">Under 3DES ZPK</option>
                          <option value="iso2">Under AES ZPK</option>
                          <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <hr class="my-4">
            <h4 class="mb-3">PRE-PERSO CODE</h4>
            <div class="form-check-inline g-3">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="prpCode">Check if Preperso Code will be required to create.</label>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">Additional Informations</h4>
            <div class="row">
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">PAN Sequence Number(PSN)</label>
                    </div>
                    <select id="track1" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_PSN', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_PSN">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">EXPIRATION DATE</label>
                    </div>
                    <select id="track1" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_exp', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_exp">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">EFFECTIVE DATE</label>
                    </div>
                    <select id="track1" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_eff', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_eff">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">SERVICE CODE</label>
                    </div>
                    <select id="track1" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_servcode', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_servcode">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">DERIVATION KEY INDEX (DKI)</label>
                    </div>
                    <select id="dki" type="text" class="form-control" placeholder="Choose.." required onchange="showDiv('hidden_DKI', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_DKI">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-text">
                        <label class="additionalInfoLabel">CRYPTOGRAM VERSION NUMBER (CVN)</label>
                    </div>
                    <select id="track1" type="text" class="form-control" placeholder="Choose.." required required onchange="showDiv('hidden_CVN', this)">
                        <option value="" disabled selected>Choose..</option>
                        <option value="1">Defined by Rule</option>
                        <option value="defbyInput">Defined within Input File</option>
                        <option value="sameAsRef">Same as Reference Profile</option>
                    </select>
                </div>
                <div class="form-floating mb-3" id="hidden_CVN">
                    <textarea class="form-control infoTxtLabel" placeholder="Leave a comment here"></textarea>
                    <label class="ms-2 infoTxtLabel">Rule</label>
                </div> 
            </div>
            <h5>Additional Keys for External Processing : </h5>
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover text-center" id="extTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope ="col"class="col-sm-3">Label</th>
                            <th scope ="col"class="col-sm-3">Value</th>
                            <th scope ="col" class="col-sm-2">KCV</th>
                            <th scope ="col" class="col-sm-4">Key Type & Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="ipkLabel" type="text" class="form-control"></td>
                            <td><input id="expiryDate" type="text" class="form-control"></td>
                            <td><input id="ipkAppName" type="text" class="form-control"></td>
                            <td><input id="keyType" type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="g-2 padding-xs" id="myButton">
                    <button type="button" class="btn btn-success btn-sm" onclick="addRow1('extTable')">Add row</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('extTable')" id="deleteBtn">Delete row</button>
                </div>
            </div>


        </div> 

    </form>
</div>
{% endblock %}